*{
    /*for setting margin and padding to zero*/
    margin: 0%;
    padding: 0%;
}

body{
    overflow-x: hidden;
}

.row{
    width: 100%;
    height: 100%;
}

.page{
    width: 100%;
    height: 100vh;
}

.home{
    background: linear-gradient(116.09deg, #FEFDFF 28.83%, #BED9FF 95.11%);
}

.col-lg-6{
    position: relative;
}

.self, .dots{
    position: absolute;
}

.self{
    width: 60%;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.dots{
    z-index: 0;
    top: 60%;
}

.illus-1{
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 70%;
}

.title{
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-40%, -40%);
    font-family: 'Poppins';
    font-size: 70px;
    font-weight: 600;
}

.name{
    line-height: 80px;
}

.tagline{
    color: #4285F4
}

@media (max-width: 992px){
    .title{
        width: 100%;
        position: absolute;
        top: -20%;
        left: 0%;
        transform: translate(0%, 0%);
        font-size: 35px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }
    .name{
        line-height: 30px;
    }
    .col-12{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
    }
    .self{
        position: relative;
        width: 80%;
        top: 0;
        left: 0;
        transform: translate(0, 0);

    }
}

