*{
    /*for setting margin and padding to zero*/
    margin: 0%;
    padding: 0%;
}

body{
    overflow-x: hidden;
}

.row{
    width: 100%;
    height: 100%;
}

.page{
    width: 100%;
    height: 100vh;
}

.home{
    background: linear-gradient(116.09deg, #FEFDFF 28.83%, #BED9FF 95.11%);
}

.col-lg-6{
    position: relative;
}

.self, .dots{
    position: absolute;
}

.self{
    width: 60%;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.dots{
    z-index: 0;
    top: 60%;
}

.illus-1{
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 70%;
}

.title{
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-40%, -40%);
    font-family: 'Poppins';
    font-size: 70px;
    font-weight: 600;
}

.name{
    line-height: 80px;
}

.tagline{
    color: #4285F4
}

@media (max-width: 992px){
    .title{
        width: 100%;
        position: absolute;
        top: -20%;
        left: 0%;
        transform: translate(0%, 0%);
        font-size: 35px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }
    .name{
        line-height: 30px;
    }
    .col-12{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
    }
    .self{
        position: relative;
        width: 80%;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

}

.about-page{
    position: relative;
    width: 1440px;
    height: 1024px;
    background: linear-gradient(59.95deg, #FDFDFF 32.24%, #BED8FF 97.88%);
}

.abt{
    position: absolute;
    width: 201px;
    height: 96px;
    left: 105px;
    top: 202px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 96px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4285F4;
}
.line{
    position: absolute;
    width: 265px;
    height: 0px;
    left: 105px;
    top: 298px;

    border: 5px solid #4285F4;
}
.para{
    position: absolute;
    width: 512px;
    height: 460px;
    left: 105px;
    top: 368px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #1E1E1E;
}
.skill1{
    position: absolute;
    width: 38px;
    height: 23px;
    left: 834px;
    top: 368px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #000000;

}
.skill2{
    position: absolute;
    width: 38px;
    height: 23px;
    left: 834px;
    top: 408px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #000000;

}
.skill3{
    position: absolute;
    width: 38px;
    height: 23px;
    left: 834px;
    top: 448px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #000000;

}
.skill4{
    position: absolute;
    width: 38px;
    height: 23px;
    left: 834px;
    top: 488px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #000000;
}
.rec39{
    position: absolute;
    width: 200px;
    height: 15px;
    left: 911px;
    top: 372px;

    background: #FFFFFF;
    border-radius: 20px;
}
.rec40{
    position: absolute;
    width: 170px;
    height: 15px;
    left: 911px;
    top: 372px;

    background: #4285F4;
    border-radius: 20px;
}
.rec41{
    position: absolute;
    width: 200px;
    height: 15px;
    left: 911px;
    top: 412px;

    background: #FFFFFF;
    border-radius: 20px;
}
.rec42{
    position: absolute;
    width: 150px;
    height: 15px;
    left: 911px;
    top: 412px;

    background: #4285F4;
    border-radius: 20px;
}
.rec43{
    position: absolute;
    width: 200px;
    height: 15px;
    left: 911px;
    top: 452px;

    background: #FFFFFF;
    border-radius: 20px;
}
.rec44{
    position: absolute;
    width: 130px;
    height: 15px;
    left: 911px;
    top: 452px;

    background: #4285F4;
    border-radius: 20px;
}
.rec45{
    position: absolute;
    width: 200px;
    height: 15px;
    left: 911px;
    top: 492px;

    background: #FFFFFF;
    border-radius: 20px;
}
.rec46{
    position: absolute;
    width: 160px;
    height: 15px;
    left: 911px;
    top: 492px;

    background: #4285F4;
    border-radius: 20px;
}
.card{
    position: absolute;
    width: 919px;
    height: 307px;
    left: 1501px;
    top: -69px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 180px;
    line-height: 270px;
    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(255, 255, 255, 0.4);

    transform: rotate(90deg);
}
.bigdot{
    position: absolute;
    width: 221px;
    height: 195px;
    left: 973px;
    top: 703px;
}
@media (max-width: 992px) {
    .about-page{
        width: 100%;
        height: 950px;
    }
    .abt{
        width: 201px;
        height: 96px;
        left: 107px;
        top: 60px;
    }
    .line{
        width: 265px;
        height: 0px;
        left: 69px;
        top: 154px;
    }
    .para{
        width: 378px;
        height: 460px;
        left: 20px;
        top: 229px;
    }
    .skill1{
        width: 38px;
        height: 23px;
        left: 28px;
        top: 574px;
    }
    .skill2{
        width: 38px;
        height: 23px;
        left: 28px;
        top: 617px;
    }
    .skill3{
        width: 38px;
        height: 23px;
        left: 28px;
        top: 663px;
    }
    .skill4{
        width: 38px;
        height: 23px;
        left: 28px;
        top: 713px;
    }
    .rec39{
        width: 200px;
        height: 15px;
        left: 98px;
        top: 574px;
    }
    .rec40{
        width: 170px;
        height: 15px;
        left: 98px;
        top: 574px;
    }
    .rec41{
        width: 200px;
        height: 15px;
        left: 98px;
        top: 617px;
    }
    .rec42{
        width: 150px;
        height: 15px;
        left: 98px;
        top: 617px;
    }
    .rec43{
        width: 200px;
        height: 15px;
        left: 98px;
        top: 663px;
    }
    .rec44{
        width: 130px;
        height: 15px;
        left: 98px;
        top: 663px;
    }
    .rec45{
        width: 200px;
        height: 15px;
        left: 98px;
        top: 713px;
    }
    .rec46{
        width: 160px;
        height: 15px;
        left: 98px;
        top: 713px;
    }
    /* .card{
        width: 919px;
        height: 307px;
        left: 1501px;
        top: -69px;
    } */
    .bigdot{
        display: none;
    }
}




/* Contact Page */
.contact-info {
  margin: 0px;
  margin-top: 40px;
  height: 55px;
  border: 2px solid #4285F4 !important;
  box-sizing: border-box;
  border-radius: 15px !important;
}

#contact-me {
  background: linear-gradient(77.79deg, #FFFFFF 15.95%, #E1EDFF 92.17%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 9% 2%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 64px;
  line-height: 96px;
  color: #2F2F2F;
}

form {
  padding: 5%;
  width: 70%;
  height: 100%;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: auto;
  /* display: flex;
flex-direction: column;
align-items: center; */
}

.illus-hi {
  width: 631.44px;
  height: 500px;
  padding-top: 5%;
}

.submit-button {
  position: relative;
  left: 150px;
  top: 60px;
  background: #4285F4;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 14px !important;
}

@media (max-width: 992px) {
  .submit-button {
    top: 0.2px;
    left: 65px;
  }

  form {
    margin-top: 7%;
    height: 90%;
    width: 90%;
  }

  #contact-me {
    padding-top: 10%;
  }
}
