*{
    margin: 0%;
    padding: 0%;
}

.homeGradient{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(116.09deg, #FEFDFF 28.83%, #BED9FF 95.11%);
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
    position: sticky;
}
.btn{
    display: flex;
    font-family: -webkit-pictograph;
    padding: 4px 9px;
    border: 0;
    border-radius: 4px;
    background-color: rgba(255, 217, 0, 0.63);
    color: rgb(107, 106, 106);
}
.btn:hover{
    background-color:gold;
    color: black;
}
ul {
    display: inline-block;
    background-color: gold;
    width: 100%;
    overflow: inherit;
    position:sticky;
    top:0;
    z-index: 10;
}
li1 a {
    display:inline-block;
    color:grey;
    font-weight:lighter;
    text-align: center;
    padding:15px;
    text-decoration:none;
    font-family: sans-serif;
}
li1 a:hover{
    color: #fefefe;
    background-color:rgba(255, 166, 0, 0.486);
}